@import url("https://fonts.googleapis.com/css?family=Manjari&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

body {
  background-color: black;
  color: white;
}

.login-container {
  font-family: "Manjari", sans-serif;
  display: inline-block;
  text-align: center;
  margin-left: 40%;
  margin-top: 10%;
}

.login-container-c {
  margin: auto;
}

.login-form-element {
  display: block;
  margin: 30px 0px;
  padding: 5px;
  height: 30px;
  width: 350px;
  border-radius: 10px;
  outline: none;
  border: 2px solid black;
}

.login-form-element:focus {
  border: 2px solid violet;
}

.login-button {
  font-family: "Manjari", sans-serif;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  color: white;
  height: 50px;
  width: 250px;
  cursor: pointer;
}

.login-button:hover{
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}