@import url("https://fonts.googleapis.com/css?family=Manjari&display=swap");

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  font-family: "Manjari", sans-serif;
  font-size: 18px;
}

.left-section {
  margin-right: 5%;
}

.right-section {
  margin-left: 11%;
}

.nav-link {
  margin: 17px;
  padding: 20px;
  text-decoration: none;
  color: white;
}

.nav-link-center {
  margin: 1%;
  padding: 1%;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  background-color: white;
  color: black;
}

.btn-green {
  background-color: yellowgreen;
}

.btn-violet {
  background-color: blueviolet;
}

.dropbtn {
  background-color: #6200ee;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #121212;
  opacity: 0.6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #6200ee;
}
